# Data Science Tools and Ecosystem

## Author
Pol Monn√© Parera

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List some open source development environments used in data science
- Evaluate basic arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SAS
6. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Numpy
5. TensorFlow
6. Keras

The following table shows three development environment open source tools used in data science

|Data Science Tools|
|------------------|
|JupyterLab|
|RStudio|
|Spider|

Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335